default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: my_school_development

test:
  <<: *default
  database: my_school_test

production:
  <<: *default
  database: my_school_production
  username: my_school
  password: <%= ENV['MY_SCHOOL_DATABASE_PASSWORD'] %>
